button {
    background-color: transparent;
    border: none;
}

.EditButton-container {
    height: 40%;
    aspect-ratio: 1 / 1;
    display: flex;
}

.EditButton-svg {
    height: 100%;
    fill: #607BA3;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.EditButton-svg:hover {
    fill: #69a5ff;
}

@media (max-aspect-ratio: 2 / 1) {
    .EditButton-container {
        height: 32%;
    }
}